//
// text component
//

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.text {
  &-silver {
    color: $gray-500;
  }

  &-purple {
    color: $purple;
  }

  &-pink {
    color: $pink;
  }

  &-orange {
    color: $orange;
  }

  &-teal {
    color: $teal;
  }
}
