//
// text component
//

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.text {
  &-silver {
    color: var(--bs-gray-500);
  }

  &-purple {
    color: var(--bs-purple);
  }

  &-pink {
    color: var(--bs-pink);
  }

  &-orange {
    color: var(--bs-orange);
  }

  &-teal {
    color: var(--bs-teal);
  }
}
