//
// dashboard content layout
//

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.content-box {
  padding: 1.25rem;
  color: var(--bs-body-color);
  background-color: var(--ds-content-bg);
  border-radius: var(--bs-border-radius);

  &.bg-white {
    background-color: var(--ds-content-bg) !important;
  }
}
