//
// navbar component
//

.navbar-nav-breadcrumb {
  .nav-link {
    margin-right: toRem(2);
    margin-left: toRem(8);
  }

  li+li:before {
    font-family: $font-awesome;
    font-weight: 600;
    content: "\f105";
    position: absolute;
    top: toRem(20);
    @include font-size($font-size-sm);
    opacity: 0.2;
  }
}
