//
// text component
//

.text {

  &-silver {
    color: $gray-500;
  }

  &-purple {
    color: $purple;
  }

  &-pink {
    color: $pink;
  }

  &-orange {
    color: $orange;
  }

  &-teal {
    color: $teal;
  }
}

.text-bolder {
  font-weight: 600;
}
